*{
    margin: 0;padding: 0;
}
li{
list-style:none;
}
.keys{
display:grid;grid-template-columns:1fr 1fr 1fr 1fr;background:white;margin:5px 0;padding:0
}
.result,.keys{
width:100%;box-sizing:border-box;
}
.result{
padding:20px 10px;font-size:30px;display:block;text-align:right;overflow-x: scroll;
}
.key{
text-align:center;padding:5px 10px;
border:1px solid black
}
.key:hover{
opacity:0.6;
}
.grid-2x{
grid-column:1/3;
}
.board{
width:100%;max-width:600px;
display:flex;flex-direction:column;align-items:center;padding:20px 30px;
background-image:linear-gradient(70deg,orange,blue);
}
.title{
    font-size: 3.5rem;
    color: transparent;
    background-image: linear-gradient(70deg,rgb(10, 241, 21),rgb(85, 152, 219));
    -webkit-background-clip: text;
    background-clip:text;
    margin-bottom: 15px;
}
.calc{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color:aliceblue;
    padding: 30px 40px;
    max-width: 70%;
    box-sizing: border-box;
    margin: auto;
    border:1px solid black;
}
.menu{
    background:black;
    margin-bottom: 15px;
}
.menu__item{
    min-width: 60px;
    line-height: 50px;
    padding: 0 10px;
    margin: 1px 10px;
    background-color: white;
    border: none;
}
.menu__item:hover{
    opacity: 0.9;transition: 0.4s;
}
.func-button{
    margin-top: 10px;
    font-size: 20px;
    padding:5px 12px;
}
.obj-out{
    background-color: white;
    margin-top: 10px;
    border: 1px solid black;
    overflow-x: auto;
}
.obj-holder{
    display: flex;
    justify-content: center;
    width:70%;
    margin-top: 10px;
}
.obj-holder>*{
    background-color: white;
    border: 1px solid black;
    height: 40px;
    min-width: 60px;
    padding:0 10px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}
.result__img{
    display: flex;
    width: 100%;
    background-color: white;
    font-size: 20px;
    background-color: white;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    flex-wrap: wrap;
}
.math__del{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 7px;
    line-height: 30px;
    align-items: center;
}
.seperate{
    border-bottom: 1px solid black;
    width: 100%;
}